dots/cargo/*
!dots/cargo/config.toml
dots/neovim/plugin
dots/fcitx5/conf/cached_layouts

dots/fish/fish_variables
dots/fish/*
!dots/fish/config.fish
!dots/fish/fish_plugins
!dots/fish/conf.d
dots/fish/conf.d/__*

dots/kitty/kitty-themes
dots/kitty/theme.conf
dots/mdc/.mlogs

dots/mpd/database

.nrepl-port
dots/neovim_lazy/lazy-lock.json

/.lsp
/.clj-kondo
