dots/cargo/*
!dots/cargo/config.toml
dots/neovim/plugin
dots/fcitx5/conf/cached_layouts

dots/fish/fish_variables
dots/fish/*
!dots/fish/config.fish
!dots/fish/fish_plugins
!dots/fish/conf.d/env.fish

dots/kitty/kitty-themes
dots/kitty/theme.conf

__pycache__
