[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Exec=fish -c "/usr/bin/steam -forcedesktopscaling 1.6"
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
